@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #f9fafc;
}

ul {
  list-style-type: circle;
}

.card {
  background: #f9fafc;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-img-top {
  width: 130px !important;
  height: 65px !important;
  margin: auto;
}

.card-title {
  font-weight: bold !important;
  color: var(--text-primary) !important;
  margin-bottom: 20px !important;
}

.btn-primary {
  background-color: #0078bb !important;
  border: none !important;
  outline: none !important;
}

.btn-outline-primary {
  width: 200px;
  color: black;
  border: 1px solid #0078bb;
  font-weight: bold;
}

.text-primary {
  color: #242d50 !important;
}

.text-secondary {
  color: #0078bb !important;
}

.btn-outline-secondary {
  border: 2px solid white !important;
  color: white;
}

.bg-primary {
  background-color: #1e2b6e !important;
}

.text-primary {
  color: #1e2b6e;
}

.nav-link {
  color: #fff !important;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px !important;
  padding: 1rem !important;
  background-color: white !important;
}

.accordion-item {
  width: 100%;
  border: none;
}

.accordion-button:focus {
  background-color: #f5f7fa !important;
  border: none !important;
  outline: none !important;
  box-shadow: none;
}

.accordion-button {
  width: 100%;
  background-color: #f5f7fa !important;
  font-weight: bold;
  border-radius: 8px;
}

.accordion-body {
  color: #0078bb;
}

.accordion-button::after {
  background-image: url("/assets/Path\ 34747.svg") !important; /* Path to your collapsed icon */
  transition: transform 0.3s;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  background: url("/assets/hero.png") no-repeat center;
  background-size: cover;
}

.header-container h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px !important;
}

.curved-div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-color: white; /* Replace with your desired color */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-top-left-radius: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container button {
  width: 200px;
}

.about-us {
  margin-top: 100px;
}

#myLineChart {
  height: 500px !important;
  width: 100% !important;
  max-width: 100%;
}

/* #aiIndexChart {
    width: 1000px;
    height: 800px;
  } */

footer {
  background-color: #242d50;
}

footer li a {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

footer h5::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: white;
  margin-top: 20px;
}

.reflect-vertical {
  transform: scaleX(-1);
}

.card button:hover {
  background: #0078bb33;
  color: black;
  transform: scale(0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.effect {
  position: absolute;
  bottom: -20px;
  right: 0;
  /* background: url("/assets/effect1.svg"); */
}

.effect-text {
  position: absolute;
  bottom: -25px;
  right: 150px;
}

@keyframes slide-out {
  0% {
    transform: translate(0, 0); /* Start at original position */
  }
  100% {
    transform: translate(-100px, 100px); /* Move bottom-left corner outside */
  }
}

@media screen and (max-width: 992px) {
  .header-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .effect-text,
  .effect {
    display: none;
  }

  .card {
    margin-bottom: 10px;
  }
}
